---
layout:           talks
meta_description: Présentations de Cyril LEPAGNOT
title:            Présentations de Cyril LEPAGNOT
---

section
  div class="row"
    div class="small-12 columns"
      = link_to 'Découvrir les présentations', '/talks/', class: 'button'
